@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@400;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

* {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  font-size: 12px;
  line-height: 15px;
  color: #000;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #e05100;
  border-radius: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  padding: 20px 85px;
}

.header-nav {
  padding: 12px 0;
}

.header-nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 49px;
}

.header-nav__link {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.banner {
  padding: 135px 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../img/bg.png") center center no-repeat;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/bg.png") center center no-repeat;
  background-size: cover;
}

.banner__title {
  max-width: 782px;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  margin: 0 auto 20px;
  color: #fff;
}

.banner__text {
  max-width: 745px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fff;
  margin: 0 auto 32px;
}

.products {
  padding: 120px 0;
  background: rgba(154, 205, 50, 0.4);
}

.products__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  text-align: center;
  color: #000;
  margin-bottom: 80px;
}

.products-card {
  max-width: 510px;
  width: 100%;
  min-height: 349px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  overflow: hidden;
  -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.products-card__content {
  max-width: 330px;
  width: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 23px 14px;
}

.products-card__info {
  max-width: 180px;
  width: 100%;
  background: #404040;
}

.products-card__img {
  width: 283px;
  height: 172px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
  margin: auto;
}

.products-card__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin-bottom: 12px;
}

.products-card__size {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin-bottom: 5px;
}

.products-card__count {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin-bottom: 5px;
}

.products-card__colors {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin-bottom: 10px;
}

.products-card__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 10px;
}

.products-card__input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.products-card__input:checked + .products-card__checkbox {
  background: crimson;
}

.products-card__checkbox {
  width: 15px;
  height: 16px;
  background: #000;
  cursor: pointer;
}

.products-card__checkbox-gray {
  background: #737373;
}

.products-card__checkbox-red {
  background: #9c0909;
}

.products-card__item {
  font-weight: 700;
  font-size: 12px;
  line-height: 149.4%;
  color: #fff;
}

.products-card__item + .products-card__item {
  margin-top: 20px;
}

.products-card__span {
  font-weight: 400;
}

.catalog {
  padding: 120px 0;
}

.catalog__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  color: #000;
  text-align: center;
  margin-bottom: 56px;
}

.catalog img {
  width: 177px;
  height: 114px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
}

.catalog__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 240px))[4];
      grid-template-columns: repeat(4, minmax(100px, 240px));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px 62px;
  margin-bottom: 72px;
}

.catalog__card {
  background: #fff;
  -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  min-height: 264px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0px 30px;
  text-align: center;
}

.catalog__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.production {
  background: #404040;
  padding: 120px 0 128px;
}

.production__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  text-align: center;
  color: #fff;
  margin-bottom: 90px;
}

.production__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.production__logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #fff;
  border-radius: 30px;
  padding: 1px 38px;
  margin-bottom: 53px;
}

.production__list {
  padding: 0;
}

.production__item + .production__item {
  margin-top: 38px;
}

.production__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 30px;
}

.production__span {
  max-width: 238px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}

.work {
  padding: 120px 0;
}

.work__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  text-align: center;
  color: #000;
  margin-bottom: 80px;
}

.work__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #000;
  margin-bottom: 78px;
}

.work__catalog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (minmax(100px, 274px))[3];
      grid-template-rows: repeat(3, minmax(100px, 274px));
  gap: 40px 31px;
}

.work__img:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

.work__img:nth-child(2) {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / 9;
}

.work__img:nth-child(3) {
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9 / 13;
}

.work__img:nth-child(4) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

.work__img:nth-child(5) {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / 9;
}

.work__img:nth-child(6) {
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9 / 13;
}

.work__img:nth-child(7) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3 / 7;
}

.work__img:nth-child(8) {
  -ms-grid-column: 7;
  -ms-grid-column-span: 4;
  grid-column: 7 / 11;
}

.advantage {
  padding: 120px 0;
  background: #404040;
}

.advantage__title {
  font-size: 35px;
  line-height: 43px;
  text-align: center;
  color: #fff;
  margin-bottom: 80px;
}

.advantage__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 330px))[3];
      grid-template-columns: repeat(3, minmax(100px, 330px));
  gap: 50px 29px;
}

.advantage__card {
  background: #ffffff;
  -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  min-height: 323px;
  padding: 0 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 323px;
}

.advantage__icon {
  margin: auto auto 30px;
}

.advantage__heading {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 15px;
}

.advantage__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin-bottom: auto;
}

.footer {
  padding: 60px 0 31px;
}

.footer__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: minmax(100px, 166px) minmax(5px, 15px);
      grid-template-rows: minmax(100px, 166px) minmax(5px, 15px);
  gap: 40px 30px;
}

.footer__item {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.footer__item:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / 7;
}

.footer__item:nth-child(2) {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7 / 9;
}

.footer__item:nth-child(3) {
  -ms-grid-column: 9;
  -ms-grid-column-span: 2;
  grid-column: 9 / 11;
  padding-left: 14px;
}

.footer__item:nth-child(4) {
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-column: 11 / 13;
  padding-left: 37px;
}

.footer__copyright {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
  -ms-grid-column-align: center;
      justify-self: center;
}

.footer__heading {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #e05100;
  margin-bottom: 20px;
}

.footer__subtitle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000;
  margin-bottom: 20px;
}

.footer__time {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 21px;
  padding-left: 42px;
  position: relative;
}

.footer__time::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: url("../img/icons/clock.svg") center center no-repeat;
  width: 22px;
  height: 22px;
}

.footer__call {
  padding-left: 35px;
  position: relative;
}

.footer__call li a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.footer__call li a + a {
  margin-top: 2px;
}

.footer__call::before {
  position: absolute;
  content: "";
  left: 0;
  top: 5px;
  background: url("../img/icons/tel.svg") center center no-repeat;
  width: 15px;
  height: 15px;
}

.footer__list {
  padding: 0;
}

.footer__list li + li {
  margin-top: 15px;
}

.footer__list li a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}
/*# sourceMappingURL=style.css.map */