* {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700; 
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  font-size: 12px;
  line-height: 15px;
  color: #000;
}
