@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@400;700&display=swap");
@import "vars";
@import "reset";
@import "global";
.header-menu {
  background: #404040;
  padding: 15px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    display: flex;
    // gap: 0 20px;
    padding-left: 20px;
    position: relative;
    & + .header-menu__item{
      margin-left: 20px;
    }
    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      height: 45px;
      width: 1px;
      background: #fff;
    }
    &:nth-child(1) {
      padding-left: 0;
      .header-menu__text{
        max-width: 208px;
      }
      &::before{
        content: none;
      }
    }
    &:nth-child(2){
      .header-menu__text{
        max-width: 104px;
      }
    }
    &:nth-child(4){
      &::before{
        content: none;
      }
    }
    ul {
      padding: 0;
      li {
        list-style-type: none;
      }
    }
  }
  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
  }
  &__tel {
    font-weight: 400;
    color: #fff;
  }
  &__call--back {
    display: inline-block;
    padding: 15px 53px;
    font-size: 16px;
    line-height: 20px;
    background: #fff;
    border-radius: 30px;
    margin-left: 40px;
  }
}
.header-nav {
  padding: 12px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 0 49px;
  }
  &__link {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
  }
}
.banner {
  padding: 135px 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../img/bg.png") center center no-repeat;
  background-size: cover;
  &__title {
    max-width: 782px;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    margin: 0 auto 20px;
    color: #fff;
  }
  &__text {
    max-width: 745px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #fff;
    margin: 0 auto 32px;
  }
}
.products {
  padding: 120px 0;
  // background: rgba($color: yellowgreen, $alpha: 0.4);
  &__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    color: #000;
    margin-bottom: 80px;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 510px));
    gap: 17px 30px;
  }
}
.products-card {
  max-width: 510px;
  width: 100%;
  min-height: 349px;
  display: flex;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  &__content {
    max-width: 330px;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px 23px 14px;
  }
  &__info {
    max-width: 180px;
    width: 100%;
    background: #404040;
    position: relative;
    padding: 20px 23px 0;
    .products-card__link {
      background: #e05100;
      border-radius: 30px 0px;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 69px;
      height: 56px;
      display: grid;
      place-items: center;
    }
  }
  &__img {
    width: 283px;
    height: 172px;
    object-fit: cover;
    border-radius: 30px;
    margin: auto;
  }
  &__name {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin-bottom: 12px;
  }
  &__size {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin-bottom: 5px;
  }
  &__count {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin-bottom: 5px;
  }
  &__colors {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin-bottom: 10px;
  }
  &__form {
    display: flex;
    gap: 0 10px;
  }
  &__input {
    position: absolute;
    appearance: none;
    &:checked + .products-card__checkbox {
      background: green;
    }
  }
  &__checkbox {
    width: 15px;
    height: 16px;
    background: #000;
    cursor: pointer;
  }
  &__checkbox-gray {
    background: #737373;
  }
  &__checkbox-red {
    background: #9c0909;
  }
  &__checkbox-yellow {
    background: #d48d37;
  }
  &__checkbox-brown {
    background: #964b00;
  }
  &__checkbox--crimson {
    background: #dc143c;
  }
  &__checkbox--grayy {
    background: #49423d;
  }
  &__checkbox--redhead {
    background: #d77d31;
  }
  &__checkbox--black {
    background: #000;
  }
  &__list {
    padding: 0;
  }
  &__item {
    font-weight: 700;
    font-size: 12px;
    line-height: 149.4%;
    color: #fff;
    & + .products-card__item {
      margin-top: 20px;
    }
  }
  &__span {
    display: block;
    font-weight: 400;
  }
}
.catalog {
  padding: 120px 0;
  &__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    color: #000;
    text-align: center;
    margin-bottom: 56px;
  }
  img {
    width: 177px;
    height: 114px;
    object-fit: cover;
    margin: auto;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 240px));
    justify-content: space-between;
    gap: 62px 30px;
    margin-bottom: 72px;
  }
  &__card {
    background: #fff;
    box-shadow: 4px 4px 20px rgba(#000, 0.25);
    border-radius: 30px;
    min-height: 264px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px 0px 30px;
    text-align: center;
  }
  &__heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000;
  }
}
.production {
  background: #404040;
  padding: 120px 0 128px;
  &__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    color: #fff;
    margin-bottom: 90px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    display: inline-flex;
    background: #fff;
    border-radius: 30px;
    padding: 1px 38px;
    margin-bottom: 53px;
  }
  &__list {
    padding: 0;
  }
  &__item + .production__item {
    margin-top: 38px;
  }
  &__item {
    display: flex;
    gap: 0 30px;
  }
  &__span {
    max-width: 238px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
  }
}
.work {
  padding: 120px 0;
  &__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    color: #000;
    margin-bottom: 80px;
  }
  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #000;
    margin-bottom: 78px;
  }
  &__catalog {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, minmax(100px, 274px));
    gap: 40px 31px;
  }
  &__img:nth-child(1) {
    grid-column: 1 / 5;
  }
  &__img:nth-child(2) {
    grid-column: 5 / 9;
  }
  &__img:nth-child(3) {
    grid-column: 9 / 13;
  }
  &__img:nth-child(4) {
    grid-column: 1 / 5;
  }
  &__img:nth-child(5) {
    grid-column: 5 / 9;
  }
  &__img:nth-child(6) {
    grid-column: 9 / 13;
  }
  &__img:nth-child(7) {
    grid-column: 3 / 7;
  }
  &__img:nth-child(8) {
    grid-column: 7 / 11;
  }
}
.advantage {
  padding: 120px 0;
  background: #404040;
  &__title {
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    color: #fff;
    margin-bottom: 80px;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 330px));
    gap: 50px 29px;
  }
  &__card {
    background: #ffffff;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    min-height: 323px;
    padding: 0 29px;
    display: flex;
    flex-direction: column;
    min-height: 323px;
  }
  &__icon {
    margin: auto auto 30px;
  }
  &__heading {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 15px;
  }
  &__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin-bottom: auto;
  }
}
.footer {
  // background: rgba($color: yellowgreen, $alpha: 0.4);
  padding: 60px 0 31px;
  &__inner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(100px, 166px) minmax(5px, 15px);
    gap: 40px 30px;
  }
  &__item {
    grid-row: 1 / 3;
  }
  &__item:nth-child(1) {
    // background: palevioletred;
    grid-column: 1 / 7;
  }
  &__item:nth-child(2) {
    // background: palegreen;
    grid-column: 7 / 9;
  }
  &__item:nth-child(3) {
    // background: rebeccapurple;
    grid-column: 9 / 11;
    padding-left: 14px;
  }
  &__item:nth-child(4) {
    // background: darkolivegreen;
    grid-column: 11 / 13;
    padding-left: 37px;
  }
  &__copyright {
    grid-column: 1 / 13;
    justify-self: center;
  }
  &__heading {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #e05100;
    margin-bottom: 20px;
  }
  &__subtitle {
    display: inline-flex;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #000;
    margin-bottom: 20px;
  }
  &__time {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 21px;
    padding-left: 42px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      background: url("../img/icons/clock.svg") center center no-repeat;
      width: 22px;
      height: 22px;
    }
  }
  &__call {
    padding-left: 35px;
    position: relative;
    li {
      a {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 400;
        & + a {
          margin-top: 2px;
        }
      }
    }
    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 5px;
      background: url("../img/icons/tel.svg") center center no-repeat;
      width: 15px;
      height: 15px;
    }
  }
  &__list {
    padding: 0;
    li {
      & + li {
        margin-top: 15px;
      }
      a {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
      }
    }
  }
}
@import "media";
